<h1>Главная страница</h1>
<p>Вы находитесь на главной странице этого скромного приложения, служащего верой и правдой для хранения данных о последнем местоположении всех зарегистрированных пользователей.</p>
<% if usr = User.find_by_id(session[:current_user_id]) %>

<% if usr.login == 'admin'  %>
<%= "Сейчас вы авторизованы как администратор. Доступны следующие функции: "  %>

<%= form_tag("bb", :method => "get") do %>
<%= submit_tag("Просмотр всех меток") %>
<% end %>
</p><%= link_to "Редактирование учетных записей", '/users' %></p>
</p><%= link_to "Просмотр дат изменения местоположения всех пользователей", '/place/time' %></p>

<% elsif usr.login && usr.login!='admin' %>
<%= "Сейчас вы авторизованы как #{usr.login}." %>
<%= form_tag("placemark", :method => "get") do %>
<%= submit_tag("Управление меткой") %>
<% end %>

<% end %>

<% else %>
Вы неавторизованы. Перейти к <%= link_to "авторизации?", '/session/auth' %>
<h5>Данные авторизации выдаются администратором.</h5>

<% end %>